.about-us{
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap: 48px;
        @include breakpoint-tablet {
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint-desktop-small {
            gap: 80px;
        }
        .about-us-image{
            position: relative;
            .w-orange{
                position: absolute;
                top: -230px;
                left: -200px;
                width: 50vw;
                display: none;
                @include breakpoint-tablet {
                    display: block;
                }
                @include breakpoint-desktop-small {
                    max-width: 438px;
                }
            }
            .image{
                border-radius: 30px;
                aspect-ratio: 1 / 1.07;
                overflow: hidden;
            }
        }
        .about-us-text{
            @include breakpoint-desktop-small {
                margin: 85px 0;
            }
            p{
                color: $color-blue-black;
            }
            h2{
                color: $color-blue;
                font-size: 32px;
                @include breakpoint-tablet {
                    margin-bottom: 24px;
                    font-size: 38px;
                }
            }
            h3{
                font-weight: 650;
                font-size: 24px;
                line-height: 31.6px;
                @include breakpoint-tablet {
                    line-height: 41.6px;
                    font-size: 32px;
                }
            }
            p{
                font-size: 16px;
                margin: 24px 0;
                @include breakpoint-tablet {
                    font-size: 18px;
                }
            }
            .about-us-items{
                display: flex;
                flex-direction: column;
                gap: 24px;
                .about-us-item{
                    display: flex;
                    align-items: center;
                    gap: 16px;
                   .icon{
                    width: 16px;
                    height: 17px;
                   }
                    p{
                        margin: 0;
                        font-size: 16px;
                    }
                }   
            }
        }

    }
}

.green-background{
    background-color: $color-green;
    .page-link-title h2{
        color: #fff;
    }
    .wrapper{
        .page-link-item {

            .page-text{
                h3{
                    color: #fff;
                }
            }
            .btn-blue{
                color: $color-yellow;
                border: 1px solid #fff;
            }
        }
    }
}

.body{
    .text-container{
        img{
            margin-top: 48px;
            width: 100%;
            height: 209px;
            object-fit: cover;
            border-radius: 15px;
            @include breakpoint-tablet {
                height: 480px;
            }
        }
    }
}

.questions{
    background-color: $color-grey;
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .questions-title{
            text-align: center;
            margin-bottom: 80px;
            h2{
                color: $color-blue-black;
            }
            p{
                font-size: 20px;
                color: $color-blue-black;
            }
        }
        .questions-items{
            width: 100%;
            .question-item{
                .question{
                    display: flex;
                    justify-content: space-between;
                }
                padding: 22px 0;
                width: 100%;
                border-top: 1px solid $color-green;
                &:last-child{
                    border-bottom: 1px solid $color-green;
                }
                h4{
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 27px;
                    margin-bottom: 0;
                    color: $color-blue;
                }
                svg{
                    cursor: pointer;
                    margin-right: 10px;
                    transition: transform .5s ease-in;
                }
                .answer{
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 1.4s ease-in-out;
                    p{
                        margin-top: 15px;
                    }
                }
                &.active .answer{
                    max-height: 300px;
                }
                &.active svg{
                    transform: rotate(180deg);
                }
            }
        }
    }
}
.cta{
    background-color: $color-grey;
    padding-bottom: 4rem;
    h2{
        color: $color-orange;
    }
    p{
        color: $color-blue;
        font-size: 18px;
        margin: 20px 0;
    }
    @include breakpoint-tablet {
        padding-bottom: 112px;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .btn-orange:hover{
            color: $color-orange;
        }
    }
}

.contact-info{
    margin-bottom: 0;
    @include breakpoint-tablet {
        margin-top: 112px;
        margin-bottom:58px;
    }
    .wrapper {
        #map {
            position: relative;
            width: 100vw;
            height: 400px;
            right: 1rem;
            @include breakpoint-tablet {
                border-radius: 60px;
                height: 538px;
                width: 100%;
                left: 0;
            }
            @include breakpoint-desktop-medium {
                height: 738px;
            }
        }
        .info{
            display: grid;
            margin-bottom: 56px;
            text-align: center;
            gap: 48px;
            @include breakpoint-tablet {
                gap: 70px;
                text-align: left;
                margin-bottom: 80px;
                grid-template-columns: 1fr 1fr;
            }
            @include breakpoint-desktop-small {
                gap:200px
            }
            p{
                color: $color-blue-black;
            }
            .title{
                p{
                    &:first-child{
                        font-weight: 500;
                        margin-bottom: 10px;
                    }
                    &:last-child{
                        font-size: 18px;
                    }
                }
                h2{
                    @include breakpoint-desktop-medium {
                        
                        font-size: 56px;
                    }
                    color: $color-orange;
                    margin-bottom: 20px;
                }
            }
            .contacts{
                .contact-item{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 16px;
                    margin-bottom: 24px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    @include breakpoint-tablet {
                        align-items: normal;
                        flex-direction: row;
                    }
                    .icon{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 36px;
                        height: 36px;
                        background-color: $color-green;
                        border-radius: 50%;
                        overflow: hidden;
                        padding: 8px;
                    }
                    .info-item{
                        h3{
                            font-size: 20px;
                        }
                        a{
                            color: $color-orange;
                        }
                    }
                }
            }
        }
    }
}

.direction{
    background-color: $color-grey;
    .wrapper{
        display: flex;
        flex-direction: column;
        @include breakpoint-tablet {
            gap: 100px;
            flex-direction: row;
        }
        @include breakpoint-desktop-medium {
            gap: 236px;
        }
        .title{
            h2{
                font-size: 32px;
                color: $color-blue;
                margin-bottom: 30px;
                @include breakpoint-tablet {
                    font-size: 40px;
                }
            }
        }
        .direction-text{
            p{
                margin-bottom: 0;
            }
            li{
                color: $color-blue-black;
            }
        }
    }
}

.register{
    background-color: $color-grey;
    .wrapper{
        display: grid;
        @include breakpoint-tablet {
            grid-template-columns: 1fr 1fr;
        }
        p{
            color: $color-blue-black;
        }
        .main-text {
            .title{
                @include breakpoint-tablet {
                    margin-bottom: 100px;
                }
                p{
                    &:first-child{
                        font-weight: 500;
                        margin-bottom: 10px;
                    }
                    &:last-child{
                        font-size: 18px;
                    }
                }
                h2{
                    @include breakpoint-desktop-medium {
                        font-size: 56px;
                    }
                    color: $color-orange;
                    margin-bottom: 20px;
                }
            }
            svg{
                position: absolute;
                right: 12px;
                top: -15px;
                width: 96px;
                height: 77px;
                @include breakpoint-tablet {
                    position: relative;
                    right: 0;
                    top: 0;
                    width: auto;
                    height: auto;
                }
            }
        }
        
    }
}

.contact-us{
    .wrapper{
        .title{
            text-align: center;
            h2{
                color: $color-orange;
                margin-bottom: 25px;
            }
            p{
                @include breakpoint-tablet {
                    font-size: 20px;
                }
            }
        }
    }
}