%control-properties {
    transition: padding 0.4s ease-in-out;
    position: relative;
    font-family: $font-family-default;
    font-size: rem(16px);
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    color: $color-white;
    padding: rem(16px) rem(24px) rem(14px) rem(24px) ;
    text-decoration: none;
    border-radius: 0;
    line-height: 1;
}

%focus-properties {
    color: $color-white;
}
.btn-yellow{
    border-radius: 30px;
    border: 1px solid $color-yellow;
    background: linear-gradient(180deg, rgba(235, 93, 11, 0.20) 25%, rgba(255, 215, 0, 0.20) 75%), var(--Color-Brand-yellow, #FFD700);
    &:hover{
        background: none;
        color: $color-blue;
        border: 1px solid #000;
    }
}
.btn-arrow{
    background: none;
    color: $color-black !important;
    padding-left: 0;
    .arrow{
        position: absolute;
        width: 25px;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out;
    }
    &:hover{
        color: $color-black !important;
        .arrow{
            right: -20px;
        }
    }
}

.btn-blue{
    color: $color-blue;
    border: 1px solid $color-blue;
    border-radius: 25px;
    padding: 8px 20px 5px 20px;
    &:hover{
        color: $color-blue-black;
        border: 1px solid $color-blue-black;
    }
}
.btn-center{
    text-align: center;
}

.btn {
    transition: all 0.2s ease-in-out;
    @extend %control-properties;
    &:hover{
        @extend %focus-properties;
    }
}

form{
    position: relative;
    max-width: rem(700px);
    input[type=text]{
        background: $color-white;
        height: rem(60px);
        padding: rem(20px) rem(30px);
        border-radius: rem(30px);
        @include placeholder{
            color: rgba($color-black, 0.6);
            font-weight: 400;
        }
    }
    input[type=submit]{
        position: absolute;
        top: 0;
        right: 0;
        background: $color-black;
        height: rem(60px);
        border-radius: rem(30px);
        color: $color-white;
        font-weight: 800;
        padding: 0 rem(30px);
        text-transform: uppercase;
        &:hover{
            cursor: pointer;
        }
    }
}

#site-container .gform_wrapper {}