h1, h2, h3, h4, h5, h6{
    font-family: $font-family-title;
    line-height: 1;
    font-weight: 650;
    color: $color-black;
    font-style: normal;
}

h2, h3, h4{
    margin-bottom: rem(10px);
}

h1{
    font-size: rem(40px);
    line-height: rem(48px);
    font-weight: 650;
    @include breakpoint-tablet {
        font-size: rem(72px);
        line-height: rem(86px);
    }
}

h2{
    font-size: rem(36px);
    margin-bottom: rem(10px);
    font-weight: 650;

    @include breakpoint-desktop-small {
        font-size: rem(48px);
    }
}

h3{
    font-size: rem(26px); 
}

h4{
    font-size: rem(22px);
}

h6{
    font-size: 18px;
    font-weight: 650;
    @include breakpoint-tablet {
        font-size: 20px;
    }
}

b, strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

.text-container {
    max-width: 75ch;
    p, ul, ol,
    blockquote,
    .embed-container,
    .wp-caption {
        line-height: rem(24px);
        margin-bottom: rem(24px);
        max-width: 100%;

        &:last-child {
            margin-bottom: 0;
        }
    }
    p{
        font-size: 16px;
        color: $color-blue-black;
    }

    ul, ol {
        position: relative;
        list-style: none;

        li:not(.gfield) {
            padding-left: 1.25em;

            &::before {
                position: absolute;
                text-indent: -1.25em;
            }
        }
    }

    ul {
        li:not(.gfield) {
            &::before {
                content: '•';
            }
        }
    }

    ol {
        counter-reset: ol-counter;

        li {
            counter-increment: ol-counter;

            &::before {
                content: counter(ol-counter) '.';
            }
        }
    }

    a{
        &:not(.btn){
            &:hover{
                color: $color-black;
            }    
        }
        
    }

    blockquote {
        padding-left: 20px;
        font-size: 24px;
        line-height: 36px;
        border-left: 2px solid $color-green;
        color: $color-blue;
        font-weight: 300;
        font-style: italic;
    }
    h2, .bold{
        color: $color-blue;
        margin-bottom: 16px;
    }
    h3{
        font-size: 32px;
        color: $color-orange;
        margin-bottom: 20px;
        @include breakpoint-tablet {
            font-size: 40px;
        }
    }
    h4{
        font-size: 24px;
        @include breakpoint-tablet {
            font-size: 32px;
        }
    }
    h5{
        font-size: 20px;
        @include breakpoint-tablet {
            font-size: 24px;
        }
    }
    h6{
        font-size: 18px;
        @include breakpoint-tablet {
            font-size: 20px;
        }
    }
    h4, h5, h6{
        color: $color-blue-black;
        margin-bottom: 16px;
    }
}